body {
  font-family: 'helvetica', sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-child-none {
  flex: none;
}

.margin-auto {
  margin: auto;
}

.container {
  box-sizing: border-box;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 24px;
}

.big-container {
  box-sizing: border-box;
  width: 1000px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 24px;
}

.medium-container {
  box-sizing: border-box;
  width: 800px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 24px;
}

.bisque {
  background-color: bisque;
}

.light-blue {
  background-color: lightblue;
}

.khaki {
  background-color: khaki;
}

.dark-salmon {
  background-color: darksalmon;
}

.light-steel-blue {
  background-color: lightsteelblue;
}

.light-sea-green {
  background-color: lightseagreen;
}

.white {
  background-color: white;
}

.light-gray {
  background-color: lightgray;
}

.grid {
  display: grid;
  grid-template-columns: auto 240px;
}

.forum-grid {
  display: grid;
  grid-template-columns: 200px auto;
}

.margin-top {
  margin-top: 24px;
}

.button {
  padding: 2px 24px;
}

.sublink {
  font-weight: 400;
  font-size: 13.3333px;
  font-family: Arial;
  margin-left: auto;
  align-self: center;
}

.red-text {
  color: red;
}

.user-area-grid {
  display: grid;
  grid-template-columns: 120px auto;
  gap: 24px;
}
