<!doctype html>
<html>

<head>
  <title>Login - CC Assignment 01 Task 1 Application</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="flex-column">
  <div class="container bisque flex-child-none">
    <h1>Login</h1>
    <form method="POST">
      <div class="grid">
        <label for="id">ID</label>
        <input type="text" name="id" id="login-id" autocomplete="off" required>
      </div>
      <div class="grid">
        <label for="password">Password</label>
        <input type="password" name="password" id="login-password" required>
      </div>
      <div class="flex margin-top">
        <input class="button" type="submit" value="Login">
        <a class="sublink" href="/register">Register</a>
      </div>

      {% if error %}
      <div class="red-text">
        <p>{{ error }}</p>
      </div>
      {% endif %}
    </form>
  </div>


</body>

</html>