<!doctype html>
<html>

<head>
  <title>Register - CC Assignment 01 Task 1 Application</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="flex-column">
  <div class="container light-blue flex-child-none margin-auto">
    <h1>Register</h1>
    <form method="POST" enctype="multipart/form-data">
      <div class="grid">
        <label for="id">ID</label>
        <input type="text" name="id" id="login-id" autocomplete="off" required>
      </div>
      <div class="grid">
        <label for="username">Username</label>
        <input type="text" name="username" id="login-username" required>
      </div>
      <div class="grid">
        <label for="password">Password</label>
        <input type="password" name="password" id="login-password" required>
      </div>
      <div class="grid">
        <label for="image">Image (.png)</label>
        <input type="file" name="image" id="login-image" accept="image/.png" required>
      </div>
      <div class="flex margin-top">
        <input class="button" type="submit" value="Register">
        <a class="sublink" href="/login">Login</a>
      </div>

      {% if error %}
      <div class="red-text">
        <p>{{ error }}</p>
      </div>
      {% endif %}
    </form>
  </div>


</body>

</html>