<!doctype html>
<html>

<head>
  <title>User Page - CC Assignment 01 Task 1 Application</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="flex-column">
  <div class="big-container light-gray flex-child-none margin-auto">
    <h1>User page</h1>
    <a href="/forum">Back</a>

    <div class="container white flex-child-none margin-auto margin-top">
      <h1>Change password</h1>
      <form method="POST">
        <div class="grid">
          <label for="password">Old password</label>
          <input type="password" name="old-password" id="change-password-old" required>
        </div>
        <div class="grid">
          <label for="password">New password</label>
          <input type="password" name="new-password" id="change-password-new" required>
        </div>
        <div class="margin-top">
          <input class="button" type="submit" value="Change">
        </div>

        {% if error %}
        <div class="red-text">
          <p>{{ error }}</p>
        </div>
        {% endif %}
      </form>
    </div>
  </div>

  <div class="big-container light-pink flex-child-none margin-auto margin-top">
    <h1>Edit posts</h1>
    {% for post in posts %}
    <div class="medium-container white margin-top margin-auto">
      <div>
        <div>
          {{ post['datetime'].ctime() }} | {{ post['user_id'] }}
        </div>
        <div>
          <img width="40" height="40"
            src="https://storage.googleapis.com/cc-assignment-01-task-1-app-message-images/{{ post['image_id'] }}"
            alt="Author image">
        </div>
      </div>
      <div>
        {{ post['subject'] }}
      </div>
      <div>
        {{ post['message'] }}
      </div>
      <div>
        <a href="/editpost?POST_ID={{ post['post_id'] }}">Edit</a>
      </div>
    </div>
    {% endfor %}
  </div>

</body>

</html>